.header-bar-2{
  background-color: #EAE0CF;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 2rem;
  padding: .5rem;

}

.header-bar-2 p {

  margin-right: 0%;
}

.header-bar-2 button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}