.header-bar-2{
  background-color: rgb(188, 140, 97);
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  gap: 2rem;
  padding: .5rem;

}

.header-bar-2 p {

  margin-right: 0%;
}