.shop-box {
  padding: .5rem;
  background-color: rgb(0, 0, 0, .09);
  border-radius: 12px;
  width: 20vw;
  height: 20vh;
  max-width: 400px;
  display: flex;
  flex-direction: column; /* stack image/text row and button */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin: 1.2rem;
}

.shop-box:hover {

  transition: all ease 0.9s;
}

.img {
  width: 120px;
  background-color: white;
  height: 120px;
}

img {
  width: 100px;
  height: 100px;
}

.flex-box {

  display: flex;
  align-items: center; /* vertically center the image and text */
  gap: 15px;
}

.shop-box button {
  background-color: #213448;
  width: 5vw;
  border-radius: 12px;
  color: white;
}

.shop-box button:hover {
  background-color: #36506d;
}

.shop-box button:active {
  background-color: #152333;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.text-sec{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
}