.shop-box {
  padding: .5rem;
  background-color: rgb(0, 0, 0, .09);
  border-radius: 12px;
  width: 20vw;
  height: 20vh;
  max-width: 400px;
  display: flex;
  flex-direction: column; /* stack image/text row and button */
  box-shadow: 400px 400px 0px rgba(0, 0, 0, 0.1);
  gap: 10px;
  margin: 1.2rem;
}

.shop-box:hover {

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
  transition: all ease 0.9s;
}

.img {
  width: 85px;
  background-color: white;
  height: 85px;
}

.flex-box {

  display: flex;
  align-items: center; /* vertically center the image and text */
  gap: 15px;
}

button {
  background-color: rgb(188, 140, 97);
}

button:hover {
  background-color: rgb(214, 166, 125);
}

button:active {
  background-color: rgb(127, 89, 55);
}