.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 200px;
  width: 25vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  transition: all ease 3s;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
